/* General setup */
/*
  background image is from
  http://blog.hostbaby.com/2014/03/10-free-website-background-images-for-spring/
*/
body {
  background-image: url("img/background2.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
}

section {
  margin: 0 auto;
  padding: 15px;
}

main > section {
  width: 80%;
  margin-bottom: 20px;
  padding: 30px;
  border-top: 10px #f3f3f3;
  border-top-style: dotted;
}

header, section section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  flex-direction: column;
}

/* Typography */
h1, h2, h3, h4, #todo {
  text-align: center;
}

h1, h2 {
  font-family: 'Coda Caption', sans-serif;
  text-transform: uppercase;
  text-shadow: 20px 15px 20px #551755;
  color: white;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

p, ul {
  line-height: 1.5;
}

/* images setup */
img {
  width: 200px;
  height: 250px;
  border-radius: 10%;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}